/* Allgemeine Einstellungen */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
  }
  
  /* Navigation */
  .navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  /* Logo und Titel */
  .logo-section {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  /* Dropdown und Suchleiste */
  .actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .dropdown {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .dropdown:focus {
    outline: none;
  }
  
  .search-input {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    width: 150px;
  }
  
  .search-input:focus {
    outline: none;
    background-color: #555;
  }
  